body {
  background-color: #fffef6; 
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  margin-top: 50px;
}

header {
    position: fixed;
    background-color: #fe9da6;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

header img {
    width: 100px;
    position: static;
}

.navbar {
    display: flex; 
    justify-content: center;
    gap: 20px; 
}

main {
    gap: 20px;
    margin-top: 200px; 
}

h1, h2 {
  font-family: Verdana, Geneva, sans-serif;
  color: #fe9da6;
}

h3, h5 {
  font-family: Verdana, Geneva, sans-serif;
  color: #ec3c3c;
}

#redH1 {
  font-family: Verdana, Geneva, sans-serif;
  color: #ec3c3c;
}
.greeting {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 20px; 
    margin-top: 150px;
}

button {
  background-color: #ffe2e7;
  color: white;
  border: 2px solid #fe9da6; 
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #fe9da6;
  border-color: #ffe2e7;
  color: #ffffff;
}

button img {
    width: 200px; 
    margin: 20px;
}

figure {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

figcaption {
    font-size: 14px;
    color: #67595E;
    font-style: bold;
}



