body {
  background-image: url('https://cdn.glitch.global/5c7f8dc4-a8ab-446f-94bb-7ca841fad583/bg2.jpg?v=1734873378396'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}